<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wangsd.web.mapper.SysMenuMapper">

    <!-- 查询用户拥有的所有菜单 -->
    <select id="selectMenusByUserid" resultType="com.wangsd.web.model.SysMenu">
        SELECT DISTINCT
            m.*
        FROM
            sys_user_role ur
        LEFT JOIN sys_role_menu rm ON ur.roleId = rm.roleId
        LEFT JOIN sys_menu m ON m.id = rm.menuId
        WHERE
            ur.userId = #{uid}
        AND m.menuState = 1
        ORDER BY m.sort
    </select>

</mapper>
